<div class="row">
    <div class="col-sm-9">
        <h1 class="site-name">
            <a href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
        </h1>
        <p class="site-motto">
            {{ this.theme.site_motto }}
        </p>
    </div>
    <div class="col-sm-3">
        <button type="button" class="sidebar-toggle" onclick="toggleSidebar()">
            <span class="icon-bars">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
            <span class="menu-text">Menu</span>
        </button>
    </div>
</div>
