[blogPosts]
postsPerPage = "5"
categoryPage = "blog/category"
postPage = "blog/post"
sortOrder = "published_at desc"
==

<div class="sidebar-close visible-sm visible-xs">
    <a href="javascript:;" onclick="toggleSidebar()" class="close">&times;</a>
</div>

<div class="sidebar-segment hidden-sm hidden-xs">
    <h1 class="site-name">
        <a href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
    </h1>
    <p class="site-motto">
        {{ this.theme.site_motto }}
    </p>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">Recent posts</h2>
    <ul class="segment-list">
        {% for post in blogPosts.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">Follow me</h2>
    <ul class="segment-list">
        {% if this.theme.twitter_url %}
            <li><a href="{{ this.theme.twitter_url }}" target="_blank">Twitter</a></li>
        {% endif %}
        {% if this.theme.facebook_url %}
            <li><a href="{{ this.theme.facebook_url }}" target="_blank">Facebook</a></li>
        {% endif %}
        <li><a href="{{ 'blog/rss'|page }}">RSS Feed</a></li>
    </ul>
</div>
