{% set image = post.featured_images.first %}
<article>

    {% if image %}
        <div class="post-image">
            <a href="{{ post.url }}"><img src="{{ image.path }}" alt="{{ post.title }}" /></a>
        </div>
    {% else %}
        <header class="post-title">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header>
    {% endif %}

    <div class="post-content">
        {{ post.summary|raw }}
    </div>

    <footer>
        <span class="published"><i class="icon icon-calendar"></i> {{ post.published_at|date('M d, Y') }}</span>
        {# <span class="author"><i class="icon icon-user"></i> {{ post.author.full_name }}</span> #}
        {% if post.categories.count %} in
            <span class="category">
                <i class="icon icon-folder-open"></i>
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </footer>
</article>
